{% extends 'base.html.twig' %}


{% block body %}
   <div class="bg-white p-4 border-bottom shadow-sm">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <h1 class="h2">New Vehicule</h1>
                </div>
            </div>   
        </div>
    </div>

    <div class="p-3 m-3"></div>
        <div class="container">
            <div class="card text-center">
                <div class="card-header bg-white">
                    <div class="col-12 row justify-content-end">
                        <div class="col-2 row  justify-content-end">
                            <div class="col-4">
                                <a href="{{ path('app_vehicule_index') }}" type="button" class="btn btn-outline-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Allée a la list des vehicules"><i class="bi bi-list-ul"></i></i></a>
                            </div>
                           <div class="col-4">
                                 <button id="submitform" class="btn btn-outline-success"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sauvegarde le vehicule"><i class="bi bi-download"></i></button>
                            </div>
                         
                        </div> 
                    </div>
                </div>
                <div class="card-body">
                    {{ include('vehicule/_form.html.twig') }}
                </div>

            </div>
        </div>    
    <div class="p-3 m-3"></div>



{% endblock %}
